<!-- Bindicator -->
<section class="rounded-2xl border border-stone-900 bg-white shadow-sm overflow-hidden">

  <header class="rounded-t-2xl bg-stone-900 px-5 py-2">
    <h2 class="text-lg font-semibold text-white">Bins</h2>
  </header>

  <div class="flex-col">
    <div class="flex flex-row py-2 px-4">
      <div class="w-38">
        <div class="flex-1">
          <p class="text-sm text-slate-900">Next collection</p>
        </div>
        <div>
          <p class="text-xl font-semibold text-slate-900"><%= @bindicator.next_bin_day_words %></p>
        </div>
      </div>
      <div>
        <div class="flex flex-row items-center space-x-6">
          <% @bindicator.bins_for_next_collection.each do |color| %>
            <div>
              <img src="images/bins/<%= color.downcase %>-bin.png" alt="<%= color %> bin" class="h-16 mr-2"/>

              <div class="text-sm text-center "><%= color %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
