<!-- Calendar -->
<section class="rounded-2xl border border-slate-200 bg-white shadow-sm overflow-hidden">
  <header class="rounded-t-2xl bg-indigo-100 px-5 py-2">
    <h2 class="text-lg font-semibold text-sky-900">Calendar</h2>
  </header>

  <div class="px-4 py-2">
    <div class="text-md font-semibold mb-2">
      <%= Date.today.strftime("%A %e %B") %>
    </div>
    <div></div>
  </div>
</section>
