<!-- Restaurants -->
<section class="rounded-2xl border border-stone-900 bg-white shadow-sm overflow-hidden">
  <header class="rounded-t-2xl bg-stone-900 px-5 py-2">
    <h2 class="text-lg font-semibold text-white">Restaurants</h2>
  </header>

  <div class="px-4 py-2">
    <div class="font-semibold text-sm">
      Opened Today:
    </div>
    <% @restaurants.open.each do |name|
      name %>
      <div class="px-4 grid text-sm ">
        <%= name %>
      </div>
    <% end %>

  </div>
</section>
