<!-- Shows -->
<section class="rounded-2xl border border-slate-200 bg-white shadow-sm overflow-hidden">

  <header class="rounded-t-2xl bg-indigo-100 px-5 py-2">
    <h2 class="text-lg font-semibold text-sky-900">Shows</h2>
  </header>

  <div class="px-4 py-2">
    <table class="table-auto w-full border-spacing-y-1 border-separate">
      <thead>
      <tr>
        <th class="text-left font-semibold text-sm ">Dates</th>
        <th class="text-left font-semibold text-sm ">Performance</th>
        <th class="text-left font-semibold text-sm ">Theatre</th>
      </tr>
      </thead>
      <tbody></tbody>

      <% @shows.upcoming_shows.each do |event| %>
        <tr class="text-sm <%= event[:soon?] ? 'bg-green-100 font-semibold' : '' %>">
          <td class=" "><%= event[:dates] %></td>
          <td class=""><%= event[:name] %></td>
          <td class=""><%= event[:venue] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</section>
